// Style

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");

body {
  background: gray;
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  align-items: center;
  height: 100vh;
  .box {
    display: grid;
    grid-template-areas:
      "v v v v"
      "i i i i";
    background: black;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    > input {
      justify-content: center;
      grid-area: v;
      outline: none;
      background-color: transparent;
      border: none;
      width: 14rem;
      margin-bottom: 1.5rem;
      padding-right: 1.3rem;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 2rem;
      text-align: right;
      color: white;
      &::placeholder {
        color: white;
      }
    }
    .operators {
      display: grid;
      grid-template-areas:
        "q f s g"
        "o l z r"
        "p t e w"
        "u m n c"
        "y y j h";
      justify-content: center;
      grid-area: i;
      gap: 0.5rem;
      button {
        border: none;
        cursor: pointer;
        color: #fff;
        user-select: none;
      }
      .button-1 {
        grid-area: q;
        background-color: #a5a5a5;
      }
      .button-2 {
        grid-area: f;
        background-color: #a5a5a5;
      }
      .button-3 {
        grid-area: s;
        background-color: #a5a5a5;
      }
      .button-4 {
        grid-area: g;
        background-color: #ff9f0a;
      }
      .button-5 {
        grid-area: o;
        background-color: #333333;
      }
      .button-6 {
        grid-area: l;
        background-color: #333333;
      }
      .button-7 {
        grid-area: z;
        background-color: #333333;
      }
      .button-8 {
        grid-area: r;
        background-color: #ff9f0a;
      }
      .button-9 {
        grid-area: p;
        background-color: #333333;
      }
      .button-10 {
        grid-area: t;
        background-color: #333333;
      }
      .button-11 {
        grid-area: e;
        background-color: #333333;
      }
      .button-12 {
        grid-area: w;
        background-color: #ff9f0a;
      }
      .button-13 {
        grid-area: u;
        background-color: #333333;
      }
      .button-14 {
        grid-area: m;
        background-color: #333333;
      }
      .button-15 {
        grid-area: n;
        background-color: #333333;
      }
      .button-16 {
        grid-area: c;
        background-color: #ff9f0a;
      }
      .button-17 {
        text-align: left;
        font-size: 1.4rem;
        padding-left: 1.1rem;
        border-radius: 50px;
        grid-area: y;
        background-color: #333333;
      }
      .button-18 {
        grid-area: j;
        background-color: #333333;
      }
      .button-19 {
        grid-area: h;
        background-color: #ff9f0a;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 0.5rem;
    }
  }
}
